<!-- mantenimiento.component.html -->
<div class="mantenimiento-container">
    <h2>Mantenimientos</h2>
  
    <!-- Formulario para filtrar mantenimientos -->
    <div class="filter-form">
      <input type="text" placeholder="Nombre del Técnico" #tecnicoNombre>
      <input type="text" placeholder="Número de ID del Propietario" #numeroIdPropietario>
      <input type="date" placeholder="Fecha" #fecha>
      <input type="text" placeholder="Placa del Vehículo" #placaVehiculo>
      <button (click)="filtrarMantenimientos(tecnicoNombre.value, numeroIdPropietario.value, fecha.value, placaVehiculo.value)">
        Filtrar
      </button>
    </div>
  
    <!-- Lista de mantenimientos -->
    <div class="mantenimientos-list">
      <div *ngFor="let mantenimiento of mantenimientos" class="mantenimiento-item">
        <p>Vehículo: {{ mantenimiento.vehiculo.placa }}</p>
        <p>Fecha: {{ mantenimiento.fecha | date }}</p>
        <p>Kilometraje: {{ mantenimiento.kilometraje }}</p>
        <p>Cantidad de Aceite: {{ mantenimiento.cantidadAceite }}</p>
        <p>Aceite Utilizado: {{ mantenimiento.aceiteUtilizado.referencia }}</p>
        <p>Filtro de Aceite: {{ mantenimiento.filtroAceite.referencia }}</p>
        <p>Filtro de Aire: {{ mantenimiento.filtroAire.referencia }}</p>
        <p>Técnico: {{ mantenimiento.tecnico.nombre }}</p>
      </div>
    </div>
  </div>
  
  <!-- Formulario para agregar un nuevo mantenimiento -->
  <div class="new-mantenimiento-form">
    <h3>Agregar Nuevo Mantenimiento</h3>
    <form (ngSubmit)="agregarMantenimiento()">
      <input type="text" [(ngModel)]="nuevoMantenimiento.vehiculo" name="vehiculo" placeholder="ID del Vehículo" required>
      <input type="date" [(ngModel)]="nuevoMantenimiento.fecha" name="fecha" placeholder="Fecha" required>
      <input type="number" [(ngModel)]="nuevoMantenimiento.kilometraje" name="kilometraje" placeholder="Kilometraje" required>
      <input type="number" [(ngModel)]="nuevoMantenimiento.cantidadAceite" name="cantidadAceite" placeholder="Cantidad de Aceite" required>
      <input type="text" [(ngModel)]="nuevoMantenimiento.aceiteUtilizado" name="aceiteUtilizado" placeholder="ID del Aceite Utilizado" required>
      <input type="text" [(ngModel)]="nuevoMantenimiento.filtroAceite" name="filtroAceite" placeholder="ID del Filtro de Aceite" required>
      <input type="text" [(ngModel)]="nuevoMantenimiento.filtroAire" name="filtroAire" placeholder="ID del Filtro de Aire" required>
      <input type="text" [(ngModel)]="nuevoMantenimiento.tecnico.nombre" name="tecnicoNombre" placeholder="Nombre del Técnico" required>
      <input type="text" [(ngModel)]="nuevoMantenimiento.tecnico.numeroId" name="tecnicoNumeroId" placeholder="Número de ID del Técnico" required>
      <button type="submit">Agregar Mantenimiento</button>
    </form>
  </div>
  