<div style="text-align:center">
  <h1>
    GESTION DE MANTENIMIENTOS
  </h1>
  <h2>OIL CHANGE PROJET</h2>
</div>

<nav>
  <ul>
    <li><a routerLink="">Inicio</a></li>
    <li>
      <a href="#">Aceite</a>
      <ul class="submenu">
        <li><a routerLink="Aceite-Search">Buscar Aceite</a></li>
        <li><a routerLink="Aceite-Create">Crear Aceite</a></li>
        <li><a routerLink="Aceite-List">Listar Aceites</a></li>
        <!-- <li><a routerLink="Aceite-Delete">Eliminar Aceite</a></li> -->
        <!-- <li><a routerLink="Aceite-Update">Actualizar Aceite</a></li> -->
      </ul>
    </li>
    <li><a routerLink="filtro">Filtros</a></li>
    <li><a routerLink="vehiculo">Vehículos</a></li>
    <li><a routerLink="mantenimiento">Mantenimiento</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>
