<!-- Aquí se puede colocar cualquier contenido que desees que aparezca en todas las páginas -->
<header>
  <!-- Encabezado común o barra de navegación -->
</header>
  <nav>
    <ul>
      <li><a routerLink="/">Inicio</a></li>
      <li><a routerLink="/aceite">Gestion Aceites</a></li>
      <li><a routerLink="/filtro">Gestion de Filtros</a></li>
      <li><a routerLink="/vehiculo">Gestión de Vehículos</a></li>
      <li><a routerLink="/mantenimiento">Historial de Mantenimiento</a></li>
    </ul>
  </nav>
  
 <router-outlet></router-outlet>
 
<!-- Este div contendrá el componente cargado dinámicamente según la ruta -->
<main>
  <router-outlet></router-outlet>
</main>

<!-- Aquí se puede colocar un pie de página o contenido común en todas las páginas -->
<footer>
  <!-- Pie de página común -->
  <p>&copy; 2024 Tu Empresa. Todos los derechos reservados.</p>
</footer>
