<div>
  <form *ngIf="aceiteTemporal">
    <label for="referencia">Referencia:</label>
    <input type="text" id="referencia" [(ngModel)]="aceiteTemporal.referencia" name="referencia" required>

    <label for="marca">Marca:</label>
    <input type="text" id="marca" [(ngModel)]="aceiteTemporal.marca" name="marca" required>

    <label for="presentacion">Presentación:</label>
    <select id="presentacion" [(ngModel)]="aceiteTemporal.presentacion" name="presentacion">
      <option value="Galon 4L">Galón 4L</option>
      <option value="Galon 5L">Galón 5L</option>
      <option value="Cuarto Sellado">Cuarto Sellado</option>
      <option value="Cuarto Granel">Cuarto Granel</option>
    </select>

    <label for="tipo">Tipo:</label>
    <select id="tipo" [(ngModel)]="aceiteTemporal.tipo" name="tipo">
      <option value="Sintético">Sintético</option>
      <option value="Semi">Semi</option>
      <option value="Mineral">Mineral</option>
    </select>

    <button type="button" (click)="updateAceite()">Guardar</button>
    <button type="button" (click)="cancelar()">Cancelar</button>
  </form>
</div>
