<div class="list-container">
  <h2>Lista de Aceites</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Referencia</th>
        <th>Marca</th>
        <th>Presentación</th>
        <th>Tipo</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let aceite of aceites">
        <td>{{ aceite.referencia }}</td>
        <td>{{ aceite.marca }}</td>
        <td>{{ aceite.presentacion }}</td>
        <td>{{ aceite.tipo }}</td>
        <td>
          <button (click)="actualizarAceite(aceite)" class="btn btn-primary">Actualizar</button>
          <button (click)="deleteAceite(aceite._id)" class="btn btn-danger">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <app-aceite-update *ngIf="mostrarFormularioActualizar"
                     [aceite]="aceiteSeleccionado"
                     (aceiteActualizado)="onAceiteActualizado()"></app-aceite-update>
</div>
